.header-container {
    display: flex;
    justify-content: center;

    .main-title {
    font-weight: var(--font-semi-bold);
    font-size: 2.5rem;
    color: var(--text-color);
    margin-top: 1rem;
    }
}