html, body {
    box-sizing: border-box;
    font-family: var(--font-general);
    font-size: 100%;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html,
body,
button,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

a, a:visited, a:active {
    text-decoration: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    max-width: 100%;
    display: block;
}

li {
    list-style-type: none;
}

ul[class],
ol[class] {
    list-style: none;
}

input, button {
    font-family: var(--font-general);
}

input:focus, textarea:focus, select:focus {
    outline: none;
}